{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "valid-jsdoc": [
      "error",
      {
        "requireReturnType": false,
        "requireParamType": false 
      }
    ],
    "no-eq-null": 0,
    "eqeqeq": ["error", "smart"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "always"]
  }
}
